/* Universals */

html{
  box-sizing: border-box;
  font-family: "helvetica neue";
  font-size: 20px;
  font-weight: 200;
  height: 100vh;
}

*, *:before, *:after{
  box-sizing: inherit;
}

/* Panels */

.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;    /*The point of the exercise */
}

.panel {
  background-size: cover; background-position: center;
  flex-grow: 1;   /* Makes panels each take up equal amount of flex container */
  text-align: center;
  vertical-align: middle;
  align-items: center;
  display: flex;  /* Nested. Each panel = a flex item && flex container */
  flex-direction: column;
  transition:
        font-size 0.7s cubic-bezier(0.5,-1, 0.5, 2),
        flex 0.7s cubic-bezier(0.5,-1, 0.5, 2),
        background 0.3s;

}

/* "> *" Targets children of element (in this case, children of p) */
.panel > * { 
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  flex: 1 0 auto;
  justify-content: center; align-items: center;
}

/* Move word(s) off screen */
.panel > *:first-child { transform: translateY(-100%);} 
/* Move them back when given class open-active */
.panel.open-active > *:first-child { transform: translateY(80%);}

.panel > *:last-child { transform: translateY(100%);}

.panel.open-active > *:last-child { transform: translateY(-80%);}

.panel p {
  font-family: "Amatic SC", cursive; /* Grab that Google API font */
  color: white;
  text-shadow: 0px 0px 10px rgb(99, 26, 0), 0 0 15px rgb(74, 21, 2), 0 0 20px black;
}

.panel p:nth-child(2){
  font-size: 4em;
}

/* Top and bottom words when hovered over */
.panel.open-active {
  font-size: 50px;
}

/* Middle words when hovered over */
.panel.active {
  flex-grow: 5;
  font-size: 6em;
}

/* Grab images for backgrounds */
.panel1 { 
  background-image:url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500); 
}

.panel2 { 
  background-image:url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500);
}

.panel3 { 
  background-image:url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d); 
}

.panel4 { 
  background-image:url(https://source.unsplash.com/ITjiVXcwVng/1500x1500); 
}

.panel5 { 
  background-image:url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500); 
}